.footer-contents {
    padding: 20px;
    max-width: 100%;
    max-width: auto;
    margin: auto;
    /* margin-top: 50px; */
    background-color: #252525;
}


.footer-container {
    max-width: 1170px;
    max-height: auto;
    margin: 0 auto;

}


.footer-container:nth-child(1) h1 span:nth-child(1) {
    color: #fff;
}

.footer-container:nth-child(1) h1 span:nth-child(2) {
    color: orange;
}


.footer-item {
    width: 100%;
    margin: 0 auto;
}

.footer-item li h2 {
    color: #fff;
}

/* .footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.footer-menu li ul li a {
    color: #878585;
}

.footer-menu li:nth-child(3) ul{
    display: flex;
}


.footer-menu li:nth-child(3) ul li{
    margin: 0 5px;
}


.footer-menu li:nth-child(3) ul li a {
    font-size: 25px;
}







.footer-menu li:nth-child(3) ul li a i{
    color: #ec1111;
}

.footer-item:nth-child(1) {

    margin: 30px 0;
    text-align: center;

}


/* .footer-item:nth-child(2) {

    display: flex;
    align-items: center;
    justify-content: center;

}
 */



.footer-menu {
    display: grid;
    grid-template-columns: repeat(4 , auto);
    grid-gap: 60px;
   
}


.footer-menu li h2 {
    margin-bottom: 20px;
}

.footer-item:nth-child(3){
    margin: 50px 0;
}



.footer-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contact li a {
    display: flex;
    align-items: center;
    
}


.footer-contact li a h2 {
    margin-left: 10px;
    font-size: 18px;
    
}


.footer-contact li a span {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-contact li form  {
    display: flex;
    align-items: center;
}




.footer-contact li form input:nth-child(1) {
    padding: 10px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    outline: none;
    border: none;
}


.footer-contact li form input:nth-child(2) {
    
    width: 60px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: #ec1111;
    cursor: pointer;
}


.footer-end {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
    background-color: #ffff;
}